body{
    margin: 0px;
    /* Adding a subtle grid background for a techy feel */
    background-color: #121212; /* A dark background is needed for the grid to show */
    color: #EAEAEA;
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
}
#head1{
    height: 100px;
    /* background-color: rgb(27, 25, 25); */
    margin-top: 0px;
    border-radius: 0px;
    display: flow-root;
    margin-bottom: 0px;
    background-color: rgb(40, 39, 39);
    position: relative;
}
.btnheader{
  position: absolute;
  top: 0px;
  left: 600px;
  right: ;
}
#head2{
    background-color: aliceblue;
    height: 450px;
    
}
#mainv1{
    width: 800px;
    display: inline-block;
    margin: 0px 345px;
    
}
#myButton{
    font-size: 30px;
    padding: 12px;
    background-color: #2e0101;
    color: white;
    border: 2px solid ;
    transition: 0.5s;
}
#myButton:hover{
    background-color: whitesmoke;
    color: black;
    transform: scale(1.25);
}
#main1{
  width: 100%;
  height: 450px;
  background-color:none;
}
@keyframes slideright{
  from{ 
    opacity:0;
    transform: translateX(-200px);

  }
  to{
     opacity:1;
    transform: translateX(0px);
  }
}
@keyframes slideleft{
  from{ 
    opacity:0;
    transform: translateX(200px);

  }
  to{
     opacity:1;
    transform: translateX(0px);
  }
}
.gone{
  animation: forwards slideright 1s ease-in-out;
}
.raone{
  animation: forwards slideleft 1s ease-in-out;
}
#main1{
  position: relative;
  background-color: none;

}
#sec1{
  position: absolute;
  height: 380px;
  width: 380px;
  margin: 30px;
  background-color:black;

}
#sec2{
  position: absolute;
  height: 380px;
  width: 380px;
  background-color: black;  
  left: 590px;
  margin-top: 30px;
}
#sec3{
  position: absolute;
  height: 380px;
  width: 380px;
  background-color: black;  
  left: 1130px;
  margin-top: 30px;
}
#body1{
  width: 100%;
  height: 750px;
  background-color: black;
  position: relative;
  background-image: url("");
}
#btext1{
  position: absolute;
  left: 1000px;
  top: 50px;
}
#btext2{
  position: absolute;
  color: white;
  left: 1010px;
  top: 350px;
}
#view{
  position: absolute;
  padding: 20px;
  font-size: 20px;
  left: 1010px;
  top: 410px;
  background-color: rgb(20, 20, 139);
  color: white;
  border: none;
  font-weight: bold;
}
#view:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}
#gameplayvideo{
  height:380px;
  width: 600px;
  background-color: none;
  float: right;
  margin-right: 50px;
  margin-top: 40px;
}
#learn{
  padding: 20px;
  background-color: rgb(186, 39, 39);
  font-weight: bold;
  color: white;
  border: none;
  margin-left: 57px;
  font-size: 20px;
}
#learn:hover{
  background-color: black;
  cursor: pointer;
}
#bodypart2{
  width: 100%;
  height: 950px;
  background-color: black;
  position: relative;
  background-image: url("");
  margin-top: 100px;

}
#bpt2{
  position: absolute;
  left: 750px;
}
#bpt3{
  position: absolute;
  left: 750px;
  top: 280px;
}
#bpt4{
  position: absolute;
  left: 750px;
  top: 390px;
  font-weight: bold;
  border: none;
}
#bpt4:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
#b3{
  width: 680px;
  height: 520px;
  background-color: aqua;
  float: right;
  margin-right: 50px;
  margin-top: 80px;
  background-image: url("");
}
#know_more{
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 50px;
  background-color: rgb(20, 20, 139);
  color: white;
  border: none;
}
#know_more:hover{
  background-color: black;
  cursor: pointer;
}
#bottom1{
  width: 100%;
  height: 90px;
  background-color: rgb(40, 39, 39);
  margin-top: 80px;
}
#download{
  font-size:15px;
  padding: 10px;
  margin-left: 38%;
  margin-top: 25px;
  background-color: rgb(40, 39, 39);
  color:white;
  border: none;
  font-weight: bold;
}
#download:hover{
  cursor: pointer;
  background-color: rgb(61, 59, 59);
}
#end{
  width: 100%;
  height: 500px;
  background-color: black;
}
.logos:hover{
  cursor: pointer;

}
